<div id="devCreation"></div>

<br>
{%  block body %}
    
    <div id="response" class="ui segment"></div>
{% endblock %}
<div id="update-dev"></div>
<div id="dev-container">
    {{ q["btAddDevelopers"] | raw }}
    {{ q["dtDevelopers"] | raw }}
</div>
{{ script_foot | raw }}
